/.gradle/
/.idea/
/gradle/
/gradlew.bat
/gradlew

backend-order/gradle
backend-order/.gradle
backend-order/build
backend-order/gradlew.bat
backend-order/gradlew

backend-store/gradle
backend-store/.gradle
backend-store/build
backend-store/gradlew.bat
backend-store/gradlew

backend-user/gradle
backend-user/.gradle
backend-user/build
backend-user/gradlew.bat
backend-user/gradlew

backend-core/gradle
backend-core/.gradle
backend-core/build
backend-core/gradlew.bat
backend-core/gradlew
